INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/
obj/
config.log
config.status
configure
*.config
install-sh
missing
*.pc
*.zip
*.dll
*.pdb
*.exe
docs/*.xml
docs/*/*
docs/*.tree
*.userprefs
.*.swp
packages
.vs
.DS_Store
TestResult.xml
src/TaglibSharp.Tests/samples/tmp*
*.sln.DotSettings.user