INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/
config.log
config.status
configure
*.exe
*.mdb
*.pidb
*.config
install-sh
missing
src/AssemblyInfo.cs
*.pc
*.zip
tests/samples/tmp*
docs/*.xml
docs/*/*
docs/*.tree
*.dll.xml
examples/*.dll
*.userprefs
src/*.dll
src/*.snk
tests/*.dll
tests/*.xml
test-results
.*.swp
